# Car 
## Cow buyable is a car based on its features?

### By tbd
dataset: 
https://www.kaggle.com/datasets/stealthtechnologies/car-evaluation-classification

In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
address = "cars.csv"
cars = pd.read_csv(address)
cars.columns = ["Buying", "Maintenance", "Doors","Seats", "Boot","Safety","Condition"]
cars.head(10)

  Buying Maintenance Doors Seats   Boot Safety Condition
0  vhigh       vhigh     2     2  small    low     unacc
1  vhigh       vhigh     2     2  small    med     unacc
2  vhigh       vhigh     2     2  small   high     unacc
3  vhigh       vhigh     2     2    med    low     unacc
4  vhigh       vhigh     2     2    med    med     unacc
5  vhigh       vhigh     2     2    med   high     unacc
6  vhigh       vhigh     2     2    big    low     unacc
7  vhigh       vhigh     2     2    big    med     unacc
8  vhigh       vhigh     2     2    big   high     unacc
9  vhigh       vhigh     2     4  small    low     unacc

## standardise data

In [11]:
print(cars.shape)

(1728, 7)

In [13]:
print(cars.dtypes)

Buying         object
Maintenance    object
Doors          object
Seats          object
Boot           object
Safety         object
Condition      object
dtype: object

In [14]:
print(cars.describe)

<bound method NDFrame.describe of      Buying Maintenance  Doors Seats   Boot Safety Condition
0     vhigh       vhigh      2     2  small    low     unacc
1     vhigh       vhigh      2     2  small    med     unacc
2     vhigh       vhigh      2     2  small   high     unacc
3     vhigh       vhigh      2     2    med    low     unacc
4     vhigh       vhigh      2     2    med    med     unacc
...     ...         ...    ...   ...    ...    ...       ...
1723    low         low  5more  more    med    med      good
1724    low         low  5more  more    med   high     vgood
1725    low         low  5more  more    big    low     unacc
1726    low         low  5more  more    big    med      good
1727    low         low  5more  more    big   high     vgood

[1728 rows x 7 columns]>

In [16]:
print(cars.isna().sum())

Buying         0
Maintenance    0
Doors          0
Seats          0
Boot           0
Safety         0
Condition      0
dtype: int64